.advantages {
  width: 100%;
  background-color: #f8f9fc;
}

.advantages__container {
  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__wrapper {
  padding-top: 146px;
  padding-bottom: 115px;
  color: $color-sapphire;
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;

  @media (max-width: $tablet-width) {
    padding-top: 90px;
    padding-bottom: 93px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 63px;
    padding-bottom: 64px;
  }

  h2 {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 8px;
    text-align: center;
    font-family: $ff-alumni-sans;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @media (max-width: $tablet-width) {
      margin-bottom: 29px;
      font-size: 42px;
      line-height: 51px;
      padding-left: 0;
      padding-right: 24px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 39px;
      padding-right: 15px;
      margin-bottom: 10px;
    }
  }
}

.advantages__list {
  width: 100%;
  padding-left: 54px;
  padding-right: 54px;

  display: grid;
  grid-template-columns: 1.56fr 1fr 1.56fr;
  column-gap: 3%;
  row-gap: 108px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 0;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    row-gap: 0;
  }
}


.advantages__value {
  &--plus {
    padding-right: 5px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: 0;
    font-weight: 700;
    font-size: 71px;
    line-height: 64px;
    color: transparent;
    background-image: $advantages-red-to-blue;
    background-clip: text;

    @media (max-width: $tablet-width) {
      font-size: 58px;
      line-height: 87px;
      margin-bottom: -20px;
    }
  }

  span {
    color: $color-persian-blue;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

.advantages__item {
  height: min-content;
  padding-left: 27px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 14px;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 9.1%;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-right: 6px;
    column-gap: 8.8%;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }

  &--middle {
    margin-top: 26px;
    padding: 59px 35px 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: $color-resolution-blue;

    @media (max-width: $tablet-width) {
      padding: 33px 28px 30px 25px;
      margin-top: 44px;
      margin-bottom: 29px;
      place-self: center;
      min-width: 442px;
      max-width: 100%;
      grid-column: 1/-1;
      grid-row: 2/3;
    }

    @media (max-width: $mobile-width) {
      min-width: 100%;
      margin: 0;
      grid-row: 3/4;
      margin-top: 44px;
      margin-bottom: 8px;
      padding: 36px 30px 33px;
    }

    .advantages__value {
      margin-bottom: 34px;

      @media (max-width: $tablet-width) {
        margin-bottom: 14px;

        p {
          font-size: 74px;
          line-height: 73px;
          margin-bottom: 0;
        }

        span {
          font-size: 22px;
          line-height: 33px;
        }
      }

      @media (max-width: $mobile-width) {
        margin-bottom: 10px;

        p {
          margin-bottom: -2px;
        }
      }
    }

    p {
      margin-bottom: 7px;
      color: $color-default-white;
      background-image: none;
      text-align: center;
    }

    span {
      color: $color-default-white;
      font-weight: 700;
      font-size: 26px;
      line-height: 39px;
    }

    .advantages__description {
      margin-bottom: 10px;

      @media (max-width: $tablet-width) {
        max-width: 180px;
      }

      @media (max-width: $mobile-width) {
        max-width: 100%;
      }
    }
  }
}

.advantages__description {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  h3 {
    margin: 0;
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    @media (max-width: $tablet-width) {
      margin-bottom: 0;
      margin-top: 14px;
      font-size: 20px;
      line-height: 30px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 7px;
    }
  }

  p {
    margin: 0;

    @media (max-width: $mobile-width) {
      text-align: center;
    }
  }
}
