.btn {
  display: inline-block;
  padding: 20px 45px;
  color: $color-sapphire;

  background-color: transparent;
  border: 2px solid $color-sapphire;
  cursor: pointer;
  user-select: none;

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  // transition: opacity $trans-default;

  // &--red {
  //   background-color: $color-torch-red;
  // }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  // @include hover-focus {
  //   opacity: 0.8;
  // }
}
