.coaches {
  position: relative;
  padding-top: 50px;
  padding-bottom: 90px;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 101px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  h2 {
    margin: 0;
    margin-bottom: 48px;
    margin-left: 56px;
    color: $color-sapphire;
    font-family: $ff-alumni-sans;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @media (max-width: $tablet-width) {
      text-align: center;
      font-size: 42px;
      line-height: 51px;

      margin-left: 0;
      margin-bottom: 31px;
      margin-right: 5px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 42px;
    }
  }
}

.coaches__container {
  max-width: 1270px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 656px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
  }
}

.coaches__content {
  padding: 0 55px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.coaches__hidden-content {
  display: none;
}

.coaches__item {
  width: 260px;
  height: 294px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 1fr;


  &:hover,
  &:focus,
  &:focus-within {
    outline: none;

    .coaches__description {
      background-color: $color-sapphire-accent;
      padding-top: 51px;
      place-items: start center;
      grid-template-rows: min-content;

      @media (max-width: $tablet-width) {

        h3 {
          margin-right: 13px;
        }
      }

      @media (max-width: $mobile-width) {
        padding-top: 42px;

      }
    }

    .coaches__hidden-content {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    width: 268px;
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 226px;
    height: 274px;
  }
}

.coaches__img-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.coaches__description {
  grid-column: 1/2;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 1fr;
  place-items: end center;
  padding: 23px;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    padding-bottom: 30px;
  }

  h3 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: $tablet-width) {
      margin-left: 7px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 35px;
    color: $color-spindle;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.coaches__hidden-list {
  padding-left: 48px;

  li {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-default-white;
      top: 7px;
      left: -16px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 27px;
  }
}

.coaches__button {
  color: $color-dark-gray;

  &--prev {
    left: 0;

    @media (max-width: $tablet-width) {
      left: -12px;
    }

    @media (max-width: $mobile-width) {
      left: -4px;
    }
  }

  &--next {
    right: 0;

    @media (max-width: $tablet-width) {
      right: -12px;
    }

    @media (max-width: $mobile-width) {
      right: -4px;
    }
  }

  @media (max-width: $mobile-width) {
    top: 138px;
  }

  &:hover {
    color: $color-dark-cerulean;
    opacity: 0.7;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px $color-torch-red;
  }

  &:active {
    box-shadow: none;
    opacity: 1;
  }
}

--swiper-navigation-size{
  font-size: 10px;
}
