.event__content-wrapper {
  padding-top: 120px;
  padding-bottom: 56px;

  display: grid;
  grid-template-columns: max-content 1fr;

  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 70px;
    padding-bottom: 70px;
    grid-template-columns: 1fr;
  }
}

.event__content {
  max-width: 500px;
  background-color: $color-torch-red;
  padding: 81px 75px 85px 76px;

  display: grid;
  grid-template-columns: 2.18fr 1fr;
  column-gap: 49px;

  @media (max-width: $tablet-width) {
    max-width: 292px;
    padding: 46px 44px 50px;
    column-gap: 25px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
  }

  h2 {
    margin: 5px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family: $ff-alumni-sans;
    font-style: normal;
    font-weight: 600;
    font-size: 82px;
    line-height: 79px;
    letter-spacing: 0.03em;

    @media (max-width: $tablet-width) {
      margin-top: 5px;
      margin-left: 5px;
      font-size: 48px;
      line-height: 46px;
    }
  }

  h3 {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    grid-column: 1/3;

    @media (max-width: $tablet-width) {
      font-size: 12px;
    }
  }

  dl {
    display: grid;
    grid-template-columns: max-content;

    @media (max-width: $tablet-width) {
      transform: translateX(3px);
    }
  }
}

.event__item {
  @media (max-width: $tablet-width) {
    padding-left: 5px;
  }

  dd {
    position: relative;
    display: flex;
    align-items: center;
    width: min-content;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 3px;
      background-color: $color-default-white;
    }
  }

  p {
    margin: 0;
    margin-right: 5px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    @media (max-width: $tablet-width) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  span {
    font-size: 14px;
    line-height: 21px;

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.event__link {
  grid-column: 1/3;
  margin-top: 13px;
  padding-top: 25px;
  padding-bottom: 25px;
  place-self: end;
  width: 100%;

  @media (max-width: $tablet-width) {
    margin-top: 29px;
    font-size: 10px;
    line-height: 12px;
    border-width: 2px;
    padding: 12.5px 15px;
  }
}

.event__img-wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
