.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header__container {
  width: 100%;
  min-width: 320px;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: $tablet-width) {
    padding-top: 34px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 15px;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
}

.header__logo-link {
  margin-right: auto;
  color: $color-default-white;

  svg {
    @media (max-width: $tablet-width) {
      width: 82px;
      height: 17px;
    }

    @media (max-width: $mobile-width) {
      width: 69px;
      height: 24px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-top: 5px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.header__tel-link {
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @media (max-width: $tablet-width) {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}

.header__logo-link,
.header__tel-link {
  &:hover {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px $color-golden-yellow;
  }

  &:active {
    box-shadow: none;
    opacity: 1;
  }
}
