.promo {
  min-height: 658px;
  background-image: $promo-red-to-blue;

  @media (max-width: $tablet-width) {
    min-height: 554px;
  }

  @media (max-width: $mobile-width) {
    min-height: 491px;
  }
}

.promo__content-wrapper {
  display: flex;
  padding-left: 19px;
  padding-top: 51px;
  padding-bottom: 51px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-top: 82px;
    padding-bottom: 82px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 78px;
  }
}

.promo__description {
  margin-right: 64px;
  display: grid;
  grid-template-columns: 130px 247px;

  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;

  @media (max-width: $tablet-width) {
    grid-template-columns: 116px 207px;
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    grid-template-columns: 113px 1fr;
    margin-right: 0;
  }

  h1 {
    margin: 0;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
    padding-top: 13px;
    font-weight: 900;
    font-style: normal;
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $tablet-width) {
      padding-top: 4px;
      font-size: 72px;
      line-height: 87px;
      letter-spacing: 0.03em;
      text-transform: none;
    }

    @media (max-width: $mobile-width) {
      padding-top: 13px;
      transform: translateX(-9px);
    }
  }

  h2 {
    margin: 0;
    grid-column: 2/3;
    place-self: end;
    margin-top: 70px;
    margin-right: 50px;

    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
    text-transform: lowercase;

    @media (max-width: $tablet-width) {
      margin-top: 25px;
      margin-right: 3px;
      font-size: 34px;
      line-height: 41px;
    }

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 34px;
      margin-right: 11px;
    }
  }
}

.promo__list {
  grid-row: 2/3;
  text-align: right;
  place-self: center;
  margin-top: 58px;
  margin-right: 16px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-top: 51px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 61px;
  }
}

.promo__link {
  grid-column: 2/3;
  grid-row: 3/4;
  place-self: start;
  margin-left: 14px;
  padding-left: 54px;
  padding-right: 54px;

  @media (max-width: $tablet-width) {
    width: 187px;
    margin-top: 13px;
    margin-left: 23px;
    padding: 20px 29px;
  }

  @media (max-width: $mobile-width) {
    width: 98%;
    grid-column: 1/3;
    margin-left: 0;
    margin-top: 22px;
    padding-bottom: 21px;
    transform: translateX(1px);
  }
}

.promo__img-wrapper {
  img {
    object-fit: cover;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}
